<html><h1>FLIPKART</h1>
<form action="" method="post" name="url">
{{form.hidden_tag()}}
<p>{{form.url(size=50)}}<br>
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;text-align: center;
}
</style>
</head>
{% for post in posts%}
<table border="1" style="width:100%">
  <tr>
    <td>{{post[1]}}</td>
    <td>{{post[0]}}</td>		
    <td>{{post[2]}}</td>
    <td>{{post[3]}}</td>
    <td>{{post[4]}}</td>
  </tr>
{%endfor%}
</table>
</p><p><input type="submit" value="enter"></p></form>
</html>
